{% extends "base.html.twig" %}

{% block body %}
    <div id="accounts-container" class="center">
        <h1>Comptes</h1>
        {% for account in accounts %}
            <div id="{{ account.id }}" class="account-container">
                <div>
                    <p>{% if account.hasRole("ROLE_SUPER_ADMIN") == true %}⭐{% endif %} {{ account.lastName }} {{ account.firstName }} ({{ account.username }})</p>
                </div>
                <div style="display: flex; flex-direction: row; gap:5px;">
                    <div class="button account-edit-button" data-url="{{ path("account_admin_edit", {"id": account.id}) }}">Modifier</div>
                    <div class="button account-delete-button" data-url="{{ path("account_admin_delete", {"id": account.id}) }}">Supprimer</div>
                </div>
            </div>
        {% endfor %}
        <div class="button" id="account-create-button" data-url="{{ path("account_admin_create") }}">Créer un compte</div>
    </div>
{% endblock %}