{% extends "base.html.twig" %}
{% block body %}
        {% for item in partners %}
            <div class="partner-container">
                <div>
                    <p>Nom: {{ item.name }}</p>
                    <p>Type: {{ item.type }}</p>
                </div>
                <div class="partner-image-container">
                    <img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.name }}">
                </div>
                <form method="post" action="{{ path("remove_partner", {id: item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce partenaire?');">
                    <button type="submit">Supprimer</button>
                </form>
            </div>
        {% endfor %}
{% endblock %}