{% extends "base.html.twig" %}
{% block body %}
    <div class="homepage-container center">
        <h1>Bienvenue, {{ app.user.firstName }}!</h1>
        <nav>
            <a href="{{ path('artist_admin_index') }}"><span>*/</span> Artistes</a>
            <a href="{{ path('concert_admin_index') }}"><span>*/</span> Concerts</a>
            <a href="{{ path('scene_admin_index') }}"><span>*/</span> Scènes</a>
            <a href="{{ path('partner_admin_index') }}"><span>*/</span> Partenaires</a>
            <a href="{{ path('stand_admin_index') }}"><span>*/</span> Stands</a>
            <a href="{{ path('wc_admin_index') }}"><span>*/</span> WC</a>
            <a href="{{ path('profile_admin') }}"><span>*/</span> Profile</a>
            {% if isSuperAdmin == true %}
                <a href="{{ path('account_admin_index') }}"><span>*/</span> Comptes</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}