{% extends "base.html.twig" %}
{% block body %}
    <div class="center">
        <h1>{{ title }}</h1>
        <div id="list-container" data-admin-url="{{ adminUrl }}" data-api-url="{{ apiUrl }}">
            {% for entity in entities %}
                <div id="{{ entity.id }}" class="entity-container">
                    <p>{{ attribute(entity, identityAttribute) }}</p>
                    <div class="list-buttons" data-id="{{ entity.id }}">
                        <div class="entity-edit-button button">Modifier</div>
                        <div class="entity-delete-button button">Supprimer</div>
                    </div>
                </div>
            {% endfor %}
            <div id="create-button" class="button">
                Ajouter
            </div>
        </div>
    </div>
{% endblock %}