{% extends "base.html.twig" %}
{% block body %}
    {% for item in artists %}
        <div class="artist-container">
            <div>
                <p>Nom: {{ item.name }}</p>
                <p>Description: {{ item.description }}</p>
            </div>
            <div class="artist-image-container">
                <img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.name }}">
            </div>
            <form method="post" action="{{ path("remove_artist", {id: item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet artiste?');">
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}